.selected-pin-green {
  filter: hue-rotate(-100deg) saturate(3) brightness(0.95);
  
}

.reports-pin-orange {
  filter: hue-rotate(-170deg) saturate(3) brightness(0.95);
  
}

button {
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  background-color: rgb(0, 128, 0);
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
}
.leaflet-popup-content {
  text-align: center;
}

.leaflet-popup-content button {
  display: inline-block;
  margin: 8px auto 0;
}
